tr
{
    border-bottom: 3px solid rgba(255,255,255,0.5);
    transition: 0.3s;    
}
tr:hover
{
    background-color: rgba(255,255,255,0.5);
}
td
{
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    transition: 0.3s;   
    font-weight: normal;
    word-wrap: break-word;   
}
td:hover
{
    background-color: rgba(255,255,255,0);
    cursor: default;    
}
td.input
{
    padding: 0px;
}
td.first
{
    border-radius: 30px 30px 0px 0px;
}



input[type=password], input[type=text]
{
    width: 100%;    
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-left: solid 3px;
    border-right: solid 3px;
    background-color: rgba(255, 255, 255, 1.0);    
    transition: 0.3s;
}
input[type=password]:focus, input[type=text]:focus
{
    color: rgba(255, 255, 255, 1.0);
    background-color: #8daa79;
    outline: none;
}



section button
{
    background-color: rgba(255, 255, 255, 1);
    padding: 15px;
    font-size: 20px;
    color: #2c1a6c;
    width: 100%;
    transition: 0.3s;    
    border-radius: 30px;
    border: solid 3px;
    border-radius: 0px 0px 30px 30px;
    border-top: none;
}
section button:focus
{
    outline: none;
}
section button:hover
{
    background-color: #8daa79;
    color: white;
}