<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        img(src="cid:head",)
        h2 Bienvenido a continuacion da click para completar tu registro
        h2
            a(href=`http://loudapi.amaurytq.me/api/registro?id=${token}`) Registrate
